<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game with Sprite System</title>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>

    <h1>#StoreIsUnderDevelopment<br>
        Don't purchase wont work!!
        <a href="/dashboard">GO to main menu</a>
    </h1>
    <div id="store">
        <div id="sprites">
            <!-- Dynamically populate with JavaScript -->
        </div>
    </div>
    <div id="inventory">
        <h2>Your Inventory</h2>
    <div id="equippedSprite"></div>
    </div>
    <canvas id="gameCanvas"></canvas>

    
    <script src="./store.js"></script>
    <script type="module" src="./inventory.js" ></script>
   
</body>
</html>
